@import "../styles/scss/global.scss";
.parent-component {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  &.bg-auth {
    background-image: url("../assets/images/liquid-cheese (4).svg");
  }
  .sidebar-section {
    height: 100%;
    padding: 1rem 0;
  }
}
