.account-card-list{
    
.account-card{
    padding:2rem 1rem;
    border:2px dotted black;
    border-bottom: none;
    border-left:none ;
    border-right:none ;
    font-weight: bold;
    font-size: 2rem;
    &:hover{
        background-color: rgba(0,0,0,0.5);
        color:white;
        cursor: pointer;
    }
}
& > :last-child{
    border-bottom:2px dotted black;
}
}