@import "../../../../../styles/scss/colors.scss";
.card {
  &.leaveBalance {
    display: flex;
    flex-direction: column;
    background-color: $color-primary;
    height: 100%;
    .card__content {
      flex-grow: 1;
      overflow: auto;
    }
  }
}
