@import '../../styles/scss/global.scss';
.tab-container {
  background: #fdfdfd;
  border-bottom: 1px solid #e2e1e1;
  margin-bottom: 1rem;
  .tab-items {
    display: flex;
    width: 100%;
    &__item {
      width: 100%;
      padding: 0.5rem;
      background: white;
      color: $matte-black;
      cursor: pointer;
      position: relative;
      user-select: none;
      text-align: center;
      &.active {
        font-weight: bold;
      }
      .underline {
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 2px;
        background: $matte-black;
      }
      &:hover {
        background-color: $hover-gray;
        cursor: pointer;
      }
    }
  }
}
