@import "../../styles/scss/global.scss";
.tab-items {
  border-bottom: 1px solid gray;
  display: flex;
  &__item {
    flex-grow: 1;
    text-align: center;
    padding-top: 0.5rem;
    &.active {
      color: $matte-black;
      font-weight: bold;
      border-bottom: 2px solid $matte-black;
      margin-bottom: -1px;
    }
    &:hover {
      background-color: $hover-gray;
      cursor: pointer;
    }
  }
}
