@import "../../../../../styles/scss/global.scss";
.absentees {
  &__selected-date {
    margin-bottom: 0.5rem;
  }
  &__list {
    width: 100%;
    justify-self: center;
    max-width: 500px;
    min-width: 0;
  }
  &__count {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }
}
