.auth {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    .header {
      text-align: center;
      margin: 2rem 0;
    }
    .content-area {
      background-color: white;
      width: 100%;
      max-width: 400px;
      padding: 0 2rem 2rem 2rem;
      border: 1px solid #e3e3e3;
      box-shadow: 1px 1px 1px 0 #efeff5;

      &.login {
        .login-form {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 2rem;
          .form-group,
          .input {
            max-width: none;
            width: 100%;
          }
        }
      }
    }
  }
}
