@import '../../../../../styles/scss/global.scss';
.project {
  $self: &;
  &.card {
    max-width: 350px;
    .card__body {
      display: flex;
      flex-direction: column;
    }
    .profile-img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      justify-content: center;
      display: flex;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      text-transform: uppercase;
    }

    #{$self}__title,
    #{$self}__description {
      text-align: center;
      white-space: nowrap;
      color: $matte-black;
    }
    #{$self}__title {
      font-weight: bold;
    }
    #{$self}__description {
      font-size: 1.5rem;
    }
  }
}
