@import "../../styles/scss/colors.scss";
.auto-complete {
  position: relative;
  max-width: inherit;
  &-suggestions-container {
    margin-top: 2px;
    width: 100%;
    position: absolute;
    border: 1px solid $grayish-blue;
    box-shadow: 2px 2px 5px lightgray;
    border-radius: 5px;
    background-color: white;
    max-height: 15rem;
    overflow: auto;
    z-index: 5;
    padding: 0.5rem;
    &:empty {
      display: none;
    }
  }
  &__suggestions {
    height: 100%;
    overflow: auto;
  }
  &__suggestions-item {
    border-bottom: 1px solid lightgray;
    padding: 0.7rem 1rem;
    line-height: 1.1;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      background-color: rgb(230, 228, 228);
    }
  }
}
