@import "../../../styles/scss/colors.scss";

.employeeaa-card {
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 0.5rem;
  margin: 1rem 0;
  max-width: 500px;
  &__check-box {
    margin-left: 0.5rem;
  }
  &__image-container {
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    overflow: hidden;
  }
  &-content {
    flex-grow: 1;
  }
  &__name {
    font-weight: bold;
  }
  &__email {
    font-size: 1.5rem;
  }
  &--theme-bluish-white {
    background-color: $bluish-white-2;
  }
  &--theme-pink {
    background-color: $pink;
  }
  &--theme-green {
    background-color: $pista-green;
  }
  &--theme-coral {
    background-color: $coral;
  }
}
