@import "../../styles/scss/global.scss";
.user-media {
  padding: 1rem;
  .media-content {
    justify-content: center;

    display: flex;
    flex-direction: column;
  }
  &.user {
    .user__img {
      padding: 1rem 1rem 1rem 0;
    }
    .user__name,
    .user__email,
    .user__project-name {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .user__name {
      font-weight: bold;
    }

    .user__project-name {
      font-size: 1.8rem;
    }
  }
  &--bluish {
    background-color: $color-primary;
  }
}
