$skeleton-color: rgba(177, 175, 175, 0.521);
@keyframes animate-skeleton {
  0% {
    background-color: hsl(195, 4%, 82%);
  }

  100% {
    background-color: hsl(60, 20%, 95%);
  }
}

.line-skeleton {
  height: 1rem;
  width: 100%;
  border-radius: 5px;
  background-color: $skeleton-color;
  animation: animate-skeleton 0.5s 1s ease-in alternate infinite;
}
