@import "../../../styles/scss/colors.scss";
.group-member {
  $self: &;
  &.card {
    #{$self}__name {
      font-weight: bold;
    }
    .ellipsis {
      cursor: pointer;
    }
  }
  &__action {
    background-color: rgb(252, 252, 252);
    overflow: hidden;
    border-radius: 1rem;
    &-item {
      border-bottom: 1px solid lightgrey;
      .btn:hover {
        border-radius: 0;
        background-color: rgba(211, 211, 211, 0.5);
      }
      &:last-child {
        border: none;
      }
    }
  }
}
.card {
  &.groupMember {
    font-size: 1.8rem;
    display: flex;
    width: 100%;
    overflow: hidden;

    .groupMember__name {
      white-space: nowrap;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .groupMember__email {
      white-space: nowrap;
      font-size: 1.6rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .groupMember__input-section {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .groupMember__input-section > button {
      margin: 0.5rem;
    }
    &.groupmember--white {
      background-color: white;
    }
    &.groupMember--coral {
      background-color: $coral;
    }
  }
}
