@import "../../styles/scss/global.scss";

@mixin side-bar-container-mixin {
  overflow-y: auto;
  width: $sidebar-width-md;
  @media #{$xl_desktop} {
    width: $sidebar-width-wd;
  }
}

.side-bar-container {
  @include side-bar-container-mixin;
}

.side-bar {
  &__main {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem;
  }
}
