// colors
$bluish-white-1: #eff2fa;
$bluish-white-2: #eaf0ff;
$bluish-white-3: #d0d9f0;
$bluish-white-4: rgb(191, 207, 253);
$ice-blue: rgb(201, 240, 252);
$bluish-black: #161f33;
$dark-sea-blue: rgb(4, 127, 143);
$brown: #a07d5e;
$pista-green: #7ff1b6;
$green: #02a117ce;
$pink: #ff90b3d8;
$coral: #fdc99cd5;
$grayish-blue: #bcc1d8;
$gray: #c7cfd1;
$hover-gray: #ebecec;
$light-yellow: rgb(252, 252, 145);

// black variant
$matte-black: #474343;
$charcoal-black: rgb(36, 36, 36);
$semi-transparent-black: rgba(0, 0, 0, 0.7);
