// color
$brown: #a07d5e;
$pista-green: #7ff1b6;
$green: #02a117ce;
$pink: #ff90b3d8;
$coral: #fdc99cd5;
$violet: #ea9dfad5;
$light-yellow: rgb(252, 252, 145);

// blue variant
$icy-blue: #dbf8fd;
$icy-blue-1: #d3eef8;
// gray-variant
$hover-gray: #ebecec;
$light-gray: #ccc;
$gray: #acb4b6;
$gray-darker: #6b6879;

// black variant
$black: #13161a;
$semi-transparent-black: rgba(0, 0, 0, 0.7);
