@import './colors.scss';
@import './variable.scss';

// list
.list {
  list-style: none;
  padding-left: 0;
}

.list--inline {
  .list__item {
    display: inline-block;
    margin-right: 2rem;
  }
}

// margin
$margin-sizes: 2;
.margin {
  &--0 {
    margin: 0;
  }
  &--1 {
    margin: 1rem;
  }
}
.margin-bottom {
  &--0 {
    margin-bottom: 0;
  }
  &--1 {
    margin-bottom: 1;
  }
  &--2 {
    margin-bottom: 2;
  }
}
.margin-left {
  &--0 {
    margin-left: 0;
  }
  &--1 {
    margin-left: 1;
  }
  &--2 {
    margin-left: 2;
  }
}
.margin-right {
  &--0 {
    margin-right: 0;
  }
  &--1 {
    margin-right: 1;
  }
  &--2 {
    margin-right: 2;
  }
}
.margin-top {
  &--0 {
    margin-top: 0;
  }
  &--1 {
    margin-top: 1;
  }
  &--2 {
    margin-top: 2;
  }
}
// typography
.bold {
  font-weight: bold;
}
.error-txt {
  color: $error;
}
// form elements
.input,
.select,
.textarea {
  border-radius: 5px;
  border: 1px solid $color-body;
  font-size: 1.8rem;
  outline: 0;
  padding: 0.7rem 1rem;
  width: 100%;
  max-width: 350px;
}
%form-group-parent {
  &.inline {
    label {
      display: inline;
    }
  }
  label {
    display: block;
    text-transform: lowercase;
    color: $color-label;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
.label {
  color: $color-label;
}
.info-label {
  color: $color-label;
  display: block;
  text-transform: lowercase;
  &::first-letter {
    text-transform: uppercase;
  }
}
.form-group {
  @extend %form-group-parent;
}
.form-group--sm {
  font-size: 1.6rem;
  .input,
  .select,
  .textarea {
    padding: 0.5rem 0.7rem;
  }
}
.textarea-group {
  @extend %form-group-parent;
}

// button
.btn {
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  outline: 0;
  text-align: center;
  white-space: nowrap;
  font-size: 1.6rem;
  display: inline-block;
  width: fit-content;
  &--sm {
    padding: 0.6rem 1rem;
  }
  &--md {
    padding: 0.8rem 1.4rem;
  }
  &--lg {
    padding: 1.5rem;
  }
  &--block {
    width: 100%;
    display: inline-block;
  }

  &--transparent {
    background-color: transparent;
  }
  &--matte-black-outline {
    background-color: transparent;
    border: 1px solid $black;
    color: $black;
    &:active,
    &:hover {
      border: 1px solid rgb(119, 117, 117);
    }
  }
  &--brown {
    background-color: $brown;
    color: white;
  }
  &--matte-black {
    background-color: $black;
    color: white;

    &:active,
    &:hover {
      background-color: rgb(17, 17, 17);
    }
  }
  &--red {
    background-color: rgb(83, 3, 3);
    color: white;
  }
  &--blue {
    background-color: rgb(12, 21, 41);
    color: white;
  }
  &--green {
    background-color: rgb(3, 83, 14);
    color: white;
  }
  &--dark-grey {
    background-color: rgb(136, 134, 134);
    color: white;
  }
}
.btn-container {
  &,
  &-grow {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  &-grow {
    .btn {
      flex-grow: 1;
    }
  }
}
.badge {
  padding: 0.5rem 1rem;
  border-radius: 25px;
  white-space: nowrap;
  &--sm {
    padding: 0.3rem;
  }
  &--primary {
    background-color: $color-primary;
  }
  &--accent {
    background-color: $color-accent;
    color: white;
  }
  &--black {
    background-color: $black;
    color: white;
  }
  &--black-outline {
    border: 1px solid black;
    color: black;
  }
}

// card
.card {
  background: white;
  padding: 0.7rem 1rem;
  border-radius: 15px;
  width: 100%;
  max-width: 500px;
  min-width: 0;
  .card__item {
    &:after {
      content: '.';
      visibility: hidden;
    }
  }
  &--light-grey {
    background-color: rgb(240, 232, 232);
  }
  &--glass-black {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
  }
  &--brown {
    background-color: brown;
  }
  &--white {
    background-color: white;
    box-shadow: 0 0 5px 5px #f3efef;
  }
  &--theme-pink {
    background-color: $pink;
  }
  &--theme-green {
    background-color: $pista-green;
  }
  &--theme-coral {
    background-color: $coral;
  }
  &--theme-violet {
    background-color: $violet;
  }
  &--theme-gray {
    background-color: $gray;
  }
  &--bluish-white {
    background-color: $color-primary !important;
    color: $black;
  }
  &--purple {
    background-color: #f0e0ee !important;
    color: $black;
  }
  &--desert {
    background-color: #f7f2d5 !important;
    color: $black;
  }
  &--pale-green {
    background-color: #e0ecde !important;
    color: $black;
  }
  &--grey-paste {
    background-color: #dff1e2 !important;
    color: $black;
  }
  &--orange {
    background-color: #fde8c9 !important;
    color: $black;
  }
  &--pale-blue-paste {
    background-color: #bce9d8 !important;
    color: $black;
  }
}

.option:hover {
  background-color: mediumaquamarine;
  box-shadow: 0 0 10px 100px #1882a8 inset;
}

.logo-txt-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: 100%;
}
.occupy-empty-space {
  &:after {
    content: '.';
    visibility: hidden;
  }
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.overflow-hidden {
  overflow: hidden;
}
.media {
  display: flex;
  &__body {
    flex-grow: 1;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}
.link-style-disable {
  color: inherit;
  text-decoration: none;
  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
}
.link-full-width {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
}
.reactRouterLink {
  color: inherit;
  text-decoration: none;
  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
}
.bold {
  font-weight: bold;
}
.seperate-by-comma {
  & :nth-child(1n):not(:last-child)::after {
    content: ',';
  }
}
.flex {
  display: flex;
  &-wrap {
    flex-wrap: wrap;
  }
  &--column {
    flex-direction: column;
  }
  &--center {
    justify-content: center;
    align-items: center;
  }
  &--end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
.flex-align {
  &--start {
    align-items: flex-start;
  }
  &--center {
    align-items: center;
  }
  &--end {
    align-items: flex-end;
  }
}
.flex-justify {
  &--space-between {
    justify-content: space-between;
  }
  &--space-evenly {
    justify-content: space-evenly;
  }
  &--start {
    justify-content: flex-start;
  }
  &--center {
    justify-content: center;
  }
  &--end {
    justify-content: flex-end;
  }
}
.flex-item {
  &-grow {
    flex-grow: 1;
  }
  &--center {
    align-self: center;
    justify-self: center;
  }
}

// grid
.grid {
  display: grid;
  &--center {
    justify-items: center;
    align-items: center;
  }

  &--1x2-6fr-4fr {
    grid-template-columns: 6fr 4fr;
  }
  &--mobile-only {
    @media #{$tablet} {
      grid-template-columns: none;
    }
  }
  &--tablet-only {
    @media #{$mobile_only} {
      grid-template-columns: none !important;
    }
    @media #{$desktop} {
      grid-template-columns: none !important;
    }
  }
  &--tablet-lr-only {
    @media #{$mobile_only} {
      grid-template-columns: none !important;
    }
    @media #{$tablet_hr} {
      grid-template-columns: none !important;
    }
  }

  &--tablet-hr {
    @media #{$mobile_only} {
      grid-template-columns: none !important;
    }
    @media #{$tablet-lr-only} {
      grid-template-columns: none !important;
    }
  }
  &--tablet {
    @media #{$mobile_only} {
      grid-template-columns: none !important;
    }
  }
  &--desktop {
    @media #{$mobile_only} {
      grid-template-columns: none !important;
    }
    @media #{$tablet_only} {
      grid-template-columns: none !important;
    }
  }
  &--1x2 {
    grid-template-columns: 1fr 1fr;
  }
  &--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
// gap
.gap {
  &--5px {
    gap: 5px;
  }
  &--10px {
    gap: 10px;
  }
  &--20px {
    gap: 20px;
  }
  &--20px-10px {
    gap: 20px 10px;
  }
  &--10px-20px {
    gap: 10px 20px;
  }
}
// display

.display {
  &--none {
    display: none;
  }

  &--inline-block {
    display: inline-block;
  }
  &--mobile-only {
    @media #{$tablet} {
      display: none;
    }
  }
  &--tablet {
    @media #{$mobile_only} {
      display: none;
    }
  }
  &--tablet-hr {
    @media #{$mobile_only} {
      display: none;
    }
    @media #{$tablet_lr_only} {
      display: none;
    }
  }
  &--tablet-only {
    @media #{$mobile_only} {
      display: none;
    }
    @media #{$desktop} {
      display: none;
    }
  }
  &--tablet-lr-only {
    @media #{$mobile_only} {
      display: none;
    }
    @media #{$tablet_hr} {
      display: none;
    }
  }
  &--tablet-hr-only {
    @media #{$mobile_only} {
      display: none;
    }
    @media #{$tablet_lr_only} {
      display: none;
    }
    @media #{$desktop} {
      display: none;
    }
  }

  &--mobile-tablet-lr {
    @media #{$tablet_hr} {
      display: none;
    }
  }
  &--mobile-tablet-hr-only {
    @media #{$desktop} {
      display: none;
    }
  }

  &--desktop {
    @media #{$mobile_only} {
      display: none;
    }
    @media #{$tablet_only} {
      display: none;
    }
  }
  &--xl-desktop {
    display: none;
    @media #{$mobile_only} {
      display: none;
    }
    @media #{$tablet_only} {
      display: none;
    }
    @media #{$desktop_only} {
      display: block;
    }
  }
  &--no-desktop {
    @media #{$desktop} {
      display: none;
    }
  }
}
// height
.full-height {
  height: 100%;
}
//
.full-width {
  width: 100%;
}
// toast
.toast-msg {
  font-size: 1.5rem;
}

// logo
.logout {
  margin: 1rem;
  padding: 1rem;
  &:hover,
  &:active {
    color: black;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
}

.logo-container {
  border-radius: 50%;
  overflow: hidden;
  &--sm {
    width: 40px;
    height: 40px;
  }
}

.first-letter-logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &--black {
    background-color: $black;
    color: white;
  }
}

// media
.media-container {
  display: flex;
  .media-img {
    justify-self: center;
    align-self: center;
  }
  .media-content {
    flex-grow: 1;
    overflow: hidden;
  }
}
// text
.text-overflow--ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sub-text {
  font-size: 1.5rem;
  color: $color-body-sub-text;
}

.text-transform--capitalize {
  text-transform: capitalize;
}
// overflow
.overflow {
  &--auto {
    overflow: auto;
  }
  &--hidden {
    overflow: hidden;
  }
}

// font-color
.font-color {
  &--white {
    color: white;
  }
}

// bg
.bg {
  &--white {
    background-color: #fafafa;
  }
  &--purple {
    background-color: #f0e0ee !important;
  }
  &--desert {
    background-color: #f7f2d5 !important;
  }
  &--pale-green {
    background-color: #e0ecde !important;
  }
}
// circle
.circle {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

// illustration
.illustration {
  &.base-size {
    height: 150px;
    width: 100%;
    max-width: 250px;
  }
}

// cursor
.cursor-pointer {
  cursor: pointer;
}
// main-layout
.main-layout__container {
  background-color: white;
  border-radius: 2rem;
  padding: 1rem;
  height: 85vh;
}
.main-layout__content {
  overflow: auto;
}

// page-layout
.page-layout {
  display: flex;
  flex-direction: column;
  &__main {
    flex-grow: 1;
  }
}

// app-main
.app-main-container {
  height: 100%;
  padding: 1rem;
  min-width: 0;
  @media #{$mobile_only} {
    padding: 0.5rem 1rem;
  }
}
.app-main-display {
  height: 100%;
  background-color: white;
  border-radius: 2rem;
  padding: 1rem;
}
.app-main {
  margin: auto;
  max-width: 768px;
  height: 100%;
}
.allocate-space {
  &::after {
    content: '0';
    visibility: hidden;
  }
}

.back-arrow {
  margin-right: 0.5rem;
  cursor: pointer;
  color: $black;
}

.leave-dates {
  &__body {
    max-height: 12rem;
    display: flex;
    gap: 1rem 0.5rem;
    flex-wrap: wrap;
    margin-top: 0.5rem;
  }
  &__item {
    width: 106px;
    justify-self: self-start;
    align-items: center;
  }
}

.new-indicator {
  display: inline-block;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
}

.new-badge {
  display: inline-block;
  background-color: rgb(247, 72, 72);
  padding: 2px 3px;
  font-size: 1.4rem;
  border-radius: 5px;
  margin: 0 5px;
  &::after {
    content: 'new';
    color: white;
  }
}
