.project-section-item {
  .leave-duration {
    &__name,
    &__code {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__code {
      font-size: 1.8rem;
      font-weight: bold;
      cursor: pointer;
    }
    &__name {
      font-size: 1.5rem;
    }
  }
}
